In [97]:
import pandas as pd
pd.options.display.float_format = '{:.5f}'.format
import numpy as np

In [98]:
kospi10 = pd.read_csv('./csv/data/dataset/10년간_코스피.csv', encoding='CP949')

In [99]:
kospi10.sort_values("일자", ascending=True, inplace=True)
kospi10.reset_index(drop=True, inplace=True)
kospi10

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액
0,2012/01/02,1826.37000,0.63000,0.03000,1831.69000,1837.81000,1814.55000,323358862,3304263991445,1042325072732398
1,2012/01/03,1875.41000,49.04000,2.69000,1846.56000,1875.41000,1846.56000,443474014,4831853886344,1070059481359981
2,2012/01/04,1866.22000,-9.19000,-0.49000,1883.48000,1884.69000,1866.22000,494500192,4714359793533,1064738869593287
3,2012/01/05,1863.74000,-2.48000,-0.13000,1869.42000,1875.97000,1860.57000,533768493,4856718032241,1063280532248660
4,2012/01/06,1843.14000,-20.60000,-1.11000,1867.12000,1867.12000,1824.29000,472680598,4424490809986,1051727698040334
...,...,...,...,...,...,...,...,...,...,...
2458,2021/12/24,3012.43000,14.26000,0.48000,3009.48000,3025.77000,3009.48000,537548258,8583472759012,2230019405753961
2459,2021/12/27,2999.55000,-12.88000,-0.43000,3013.94000,3017.31000,2999.30000,475363053,8280394735651,2221527069263787
2460,2021/12/28,3020.24000,20.69000,0.69000,3006.77000,3020.29000,2991.55000,607046190,12096893607293,2237623537207572
2461,2021/12/29,2993.29000,-26.95000,-0.89000,3002.90000,3007.72000,2988.67000,545831859,10908667230981,2215462631908994
2462,2021/12/30,2977.65000,-15.64000,-0.52000,2999.75000,3005.36000,2975.74000,461038202,8727458062998,2203366545861792

In [100]:
kospi10['벤치마크지수'] = kospi10['거래대금'] / kospi10['상장시가총액'] * 100
kospi10

,일자,종가,대비,등락률,시가,고가,저가,거래량,거래대금,상장시가총액,벤치마크지수
0,2012/01/02,1826.37000,0.63000,0.03000,1831.69000,1837.81000,1814.55000,323358862,3304263991445,1042325072732398,0.31701
1,2012/01/03,1875.41000,49.04000,2.69000,1846.56000,1875.41000,1846.56000,443474014,4831853886344,1070059481359981,0.45155
2,2012/01/04,1866.22000,-9.19000,-0.49000,1883.48000,1884.69000,1866.22000,494500192,4714359793533,1064738869593287,0.44277
3,2012/01/05,1863.74000,-2.48000,-0.13000,1869.42000,1875.97000,1860.57000,533768493,4856718032241,1063280532248660,0.45677
4,2012/01/06,1843.14000,-20.60000,-1.11000,1867.12000,1867.12000,1824.29000,472680598,4424490809986,1051727698040334,0.42069
...,...,...,...,...,...,...,...,...,...,...,...
2458,2021/12/24,3012.43000,14.26000,0.48000,3009.48000,3025.77000,3009.48000,537548258,8583472759012,2230019405753961,0.38491
2459,2021/12/27,2999.55000,-12.88000,-0.43000,3013.94000,3017.31000,2999.30000,475363053,8280394735651,2221527069263787,0.37273
2460,2021/12/28,3020.24000,20.69000,0.69000,3006.77000,3020.29000,2991.55000,607046190,12096893607293,2237623537207572,0.54061
2461,2021/12/29,2993.29000,-26.95000,-0.89000,3002.90000,3007.72000,2988.67000,545831859,10908667230981,2215462631908994,0.49239
2462,2021/12/30,2977.65000,-15.64000,-0.52000,2999.75000,3005.36000,2975.74000,461038202,8727458062998,2203366545861792,0.39610

In [101]:
kospi10['일자'] = pd.to_datetime(kospi10['일자'])
kospi10['years'] = kospi10['일자'].dt.year
kospi10['month'] = kospi10['일자'].dt.month

In [102]:
kospi10 = kospi10[["years","month", "거래대금", "상장시가총액", "벤치마크지수"]]
kospi10

      years  month            거래대금            상장시가총액  벤치마크지수
0      2012      1   3304263991445  1042325072732398 0.31701
1      2012      1   4831853886344  1070059481359981 0.45155
2      2012      1   4714359793533  1064738869593287 0.44277
3      2012      1   4856718032241  1063280532248660 0.45677
4      2012      1   4424490809986  1051727698040334 0.42069
...     ...    ...             ...               ...     ...
2458   2021     12   8583472759012  2230019405753961 0.38491
2459   2021     12   8280394735651  2221527069263787 0.37273
2460   2021     12  12096893607293  2237623537207572 0.54061
2461   2021     12  10908667230981  2215462631908994 0.49239
2462   2021     12   8727458062998  2203366545861792 0.39610

[2463 rows x 5 columns]

In [103]:
import os

In [104]:
forders= os.listdir('./csv/data/PBR/')

In [105]:
forders

['PBR12_01.csv',
 'PBR12_02.csv',
 'PBR12_03.csv',
 'PBR12_04.csv',
 'PBR12_05.csv',
 'PBR12_06.csv',
 'PBR12_07.csv',
 'PBR12_08.csv',
 'PBR12_09.csv',
 'PBR12_10.csv',
 'PBR12_11.csv',
 'PBR12_12.csv',
 'PBR13_01.csv',
 'PBR13_02.csv',
 'PBR13_03.csv',
 'PBR13_04.csv',
 'PBR13_05.csv',
 'PBR13_06.csv',
 'PBR13_07.csv',
 'PBR13_08.csv',
 'PBR13_09.csv',
 'PBR13_10.csv',
 'PBR13_11.csv',
 'PBR13_12.csv',
 'PBR14_01.csv',
 'PBR14_02.csv',
 'PBR14_03.csv',
 'PBR14_04.csv',
 'PBR14_05.csv',
 'PBR14_06.csv',
 'PBR14_07.csv',
 'PBR14_08.csv',
 'PBR14_09.csv',
 'PBR14_10.csv',
 'PBR14_11.csv',
 'PBR14_12.csv',
 'PBR15_01.csv',
 'PBR15_02.csv',
 'PBR15_03.csv',
 'PBR15_04.csv',
 'PBR15_05.csv',
 'PBR15_06.csv',
 'PBR15_07.csv',
 'PBR15_08.csv',
 'PBR15_09.csv',
 'PBR15_10.csv',
 'PBR15_11.csv',
 'PBR15_12.csv',
 'PBR16_01.csv',
 'PBR16_02.csv',
 'PBR16_03.csv',
 'PBR16_04.csv',
 'PBR16_05.csv',
 'PBR16_06.csv',
 'PBR16_07.csv',
 'PBR16_08.csv',
 'PBR16_09.csv',
 'PBR16_10.csv',
 'PBR16_11.csv',
 'PBR16_12.csv',
 'PBR17_01.csv',
 'PBR17_02.csv',
 'PBR17_03.csv',
 'PBR17_04.csv',
 'PBR17_05.csv',
 'PBR17_06.csv',
 'PBR17_07.csv',
 'PBR17_08.csv',
 'PBR17_09.csv',
 'PBR17_10.csv',
 'PBR17_11.csv',
 'PBR17_12.csv',
 'PBR18_01.csv',
 'PBR18_02.csv',
 'PBR18_03.csv',
 'PBR18_04.csv',
 'PBR18_05.csv',
 'PBR18_06.csv',
 'PBR18_07.csv',
 'PBR18_08.csv',
 'PBR18_09.csv',
 'PBR18_10.csv',
 'PBR18_11.csv',
 'PBR18_12.csv',
 'PBR19_01.csv',
 'PBR19_02.csv',
 'PBR19_03.csv',
 'PBR19_04.csv',
 'PBR19_05.csv',
 'PBR19_06.csv',
 'PBR19_07.csv',
 'PBR19_08.csv',
 'PBR19_09.csv',
 'PBR19_10.csv',
 'PBR19_11.csv',
 'PBR19_12.csv',
 'PBR20_01.csv',
 'PBR20_02.csv',
 'PBR20_03.csv',
 'PBR20_04.csv',
 'PBR20_05.csv',
 'PBR20_06.csv',
 'PBR20_07.csv',
 'PBR20_08.csv',
 'PBR20_09.csv',
 'PBR20_10.csv',
 'PBR20_11.csv',
 'PBR20_12.csv',
 'PBR21_01.csv',
 'PBR21_02.csv',
 'PBR21_03.csv',
 'PBR21_04.csv',
 'PBR21_05.csv',
 'PBR21_06.csv',
 'PBR21_07.csv',
 'PBR21_08.csv',
 'PBR21_09.csv',
 'PBR21_10.csv',
 'PBR21_11.csv',
 'PBR21_12.csv']

In [106]:
for i in forders:
     globals()[i.split('.')[0]] = pd.read_csv(f'./csv/data/PBR/{i}', encoding='CP949')

In [107]:
upjong = pd.read_csv('./csv/upjong.csv', encoding='CP949')
upjong.drop(['종목코드','시장구분','종가','대비','등락률','시가총액'],axis=1, inplace=True)

In [108]:
def moo(data):
    data['종목명'] = data['종목명'].str.strip()
    data.drop(['종가','대비','등락률','선행 EPS','선행 PER','주당배당금','배당수익률',"EPS",'PER','BPS'], axis=1, inplace=True)

In [109]:
moo(PBR12_01)
moo(PBR12_02)
moo(PBR12_03)
moo(PBR12_04)
moo(PBR12_05)
moo(PBR12_06)
moo(PBR12_07)
moo(PBR12_08)
moo(PBR12_09)
moo(PBR12_10)
moo(PBR12_11)
moo(PBR12_12)

In [110]:
moo(PBR13_01)
moo(PBR13_02)
moo(PBR13_03)
moo(PBR13_04)
moo(PBR13_05)
moo(PBR13_06)
moo(PBR13_07)
moo(PBR13_08)
moo(PBR13_09)
moo(PBR13_10)
moo(PBR13_11)
moo(PBR13_12)

In [111]:
moo(PBR14_01)
moo(PBR14_02)
moo(PBR14_03)
moo(PBR14_04)
moo(PBR14_05)
moo(PBR14_06)
moo(PBR14_07)
moo(PBR14_08)
moo(PBR14_09)
moo(PBR14_10)
moo(PBR14_11)
moo(PBR14_12)

In [112]:
moo(PBR15_01)
moo(PBR15_02)
moo(PBR15_03)
moo(PBR15_04)
moo(PBR15_05)
moo(PBR15_06)
moo(PBR15_07)
moo(PBR15_08)
moo(PBR15_09)
moo(PBR15_10)
moo(PBR15_11)
moo(PBR15_12)

In [113]:
moo(PBR16_01)
moo(PBR16_02)
moo(PBR16_03)
moo(PBR16_04)
moo(PBR16_05)
moo(PBR16_06)
moo(PBR16_07)
moo(PBR16_08)
moo(PBR16_09)
moo(PBR16_10)
moo(PBR16_11)
moo(PBR16_12)

In [114]:
moo(PBR17_01)
moo(PBR17_02)
moo(PBR17_03)
moo(PBR17_04)
moo(PBR17_05)
moo(PBR17_06)
moo(PBR17_07)
moo(PBR17_08)
moo(PBR17_09)
moo(PBR17_10)
moo(PBR17_11)
moo(PBR17_12)

In [115]:
moo(PBR18_01)
moo(PBR18_02)
moo(PBR18_03)
moo(PBR18_04)
moo(PBR18_05)
moo(PBR18_06)
moo(PBR18_07)
moo(PBR18_08)
moo(PBR18_09)
moo(PBR18_10)
moo(PBR18_11)
moo(PBR18_12)

In [116]:
moo(PBR19_01)
moo(PBR19_02)
moo(PBR19_03)
moo(PBR19_04)
moo(PBR19_05)
moo(PBR19_06)
moo(PBR19_07)
moo(PBR19_08)
moo(PBR19_09)
moo(PBR19_10)
moo(PBR19_11)
moo(PBR19_12)

In [117]:
moo(PBR20_01)
moo(PBR20_02)
moo(PBR20_03)
moo(PBR20_04)
moo(PBR20_05)
moo(PBR20_06)
moo(PBR20_07)
moo(PBR20_08)
moo(PBR20_09)
moo(PBR20_10)
moo(PBR20_11)
moo(PBR20_12)

In [118]:
moo(PBR21_01)
moo(PBR21_02)
moo(PBR21_03)
moo(PBR21_04)
moo(PBR21_05)
moo(PBR21_06)
moo(PBR21_07)
moo(PBR21_08)
moo(PBR21_09)
moo(PBR21_10)
moo(PBR21_11)
moo(PBR21_12)

In [119]:
PBR12_01['years'] = 2012
PBR12_02['years'] = 2012
PBR12_03['years'] = 2012
PBR12_04['years'] = 2012
PBR12_05['years'] = 2012
PBR12_06['years'] = 2012
PBR12_07['years'] = 2012
PBR12_08['years'] = 2012
PBR12_09['years'] = 2012
PBR12_10['years'] = 2012
PBR12_11['years'] = 2012
PBR12_12['years'] = 2012

In [120]:
PBR12_01['years'] = 2012
PBR12_02['years'] = 2012
PBR12_03['years'] = 2012
PBR12_04['years'] = 2012
PBR12_05['years'] = 2012
PBR12_06['years'] = 2012
PBR12_07['years'] = 2012
PBR12_08['years'] = 2012
PBR12_09['years'] = 2012
PBR12_10['years'] = 2012
PBR12_11['years'] = 2012
PBR12_12['years'] = 2012
PBR13_01['years'] = 2013
PBR13_02['years'] = 2013
PBR13_03['years'] = 2013
PBR13_04['years'] = 2013
PBR13_05['years'] = 2013
PBR13_06['years'] = 2013
PBR13_07['years'] = 2013
PBR13_08['years'] = 2013
PBR13_09['years'] = 2013
PBR13_10['years'] = 2013
PBR13_11['years'] = 2013
PBR13_12['years'] = 2013
PBR14_01['years'] = 2014
PBR14_02['years'] = 2014
PBR14_03['years'] = 2014
PBR14_04['years'] = 2014
PBR14_05['years'] = 2014
PBR14_06['years'] = 2014
PBR14_07['years'] = 2014
PBR14_08['years'] = 2014
PBR14_09['years'] = 2014
PBR14_10['years'] = 2014
PBR14_11['years'] = 2014
PBR14_12['years'] = 2014
PBR15_01['years'] = 2015
PBR15_02['years'] = 2015
PBR15_03['years'] = 2015
PBR15_04['years'] = 2015
PBR15_05['years'] = 2015
PBR15_06['years'] = 2015
PBR15_07['years'] = 2015
PBR15_08['years'] = 2015
PBR15_09['years'] = 2015
PBR15_10['years'] = 2015
PBR15_11['years'] = 2015
PBR15_12['years'] = 2015
PBR16_01['years'] = 2016
PBR16_02['years'] = 2016
PBR16_03['years'] = 2016
PBR16_04['years'] = 2016
PBR16_05['years'] = 2016
PBR16_06['years'] = 2016
PBR16_07['years'] = 2016
PBR16_08['years'] = 2016
PBR16_09['years'] = 2016
PBR16_10['years'] = 2016
PBR16_11['years'] = 2016
PBR16_12['years'] = 2016
PBR17_01['years'] = 2017
PBR17_02['years'] = 2017
PBR17_03['years'] = 2017
PBR17_04['years'] = 2017
PBR17_05['years'] = 2017
PBR17_06['years'] = 2017
PBR17_07['years'] = 2017
PBR17_08['years'] = 2017
PBR17_09['years'] = 2017
PBR17_10['years'] = 2017
PBR17_11['years'] = 2017
PBR17_12['years'] = 2017
PBR18_01['years'] = 2018
PBR18_02['years'] = 2018
PBR18_03['years'] = 2018
PBR18_04['years'] = 2018
PBR18_05['years'] = 2018
PBR18_06['years'] = 2018
PBR18_07['years'] = 2018
PBR18_08['years'] = 2018
PBR18_09['years'] = 2018
PBR18_10['years'] = 2018
PBR18_11['years'] = 2018
PBR18_12['years'] = 2018
PBR19_01['years'] = 2019
PBR19_02['years'] = 2019
PBR19_03['years'] = 2019
PBR19_04['years'] = 2019
PBR19_05['years'] = 2019
PBR19_06['years'] = 2019
PBR19_07['years'] = 2019
PBR19_08['years'] = 2019
PBR19_09['years'] = 2019
PBR19_10['years'] = 2019
PBR19_11['years'] = 2019
PBR19_12['years'] = 2019
PBR20_01['years'] = 2020
PBR20_02['years'] = 2020
PBR20_03['years'] = 2020
PBR20_04['years'] = 2020
PBR20_05['years'] = 2020
PBR20_06['years'] = 2020
PBR20_07['years'] = 2020
PBR20_08['years'] = 2020
PBR20_09['years'] = 2020
PBR20_10['years'] = 2020
PBR20_11['years'] = 2020
PBR20_12['years'] = 2020
PBR21_01['years'] = 2021
PBR21_02['years'] = 2021
PBR21_03['years'] = 2021
PBR21_04['years'] = 2021
PBR21_05['years'] = 2021
PBR21_06['years'] = 2021
PBR21_07['years'] = 2021
PBR21_08['years'] = 2021
PBR21_09['years'] = 2021
PBR21_10['years'] = 2021
PBR21_11['years'] = 2021
PBR21_12['years'] = 2021

In [121]:
PBR12_01['month'] = 1
PBR12_02['month'] = 2
PBR12_03['month'] = 3
PBR12_04['month'] = 4
PBR12_05['month'] = 5
PBR12_06['month'] = 6
PBR12_07['month'] = 7
PBR12_08['month'] = 8
PBR12_09['month'] = 9
PBR12_10['month'] = 10
PBR12_11['month'] = 11
PBR12_12['month'] = 12
PBR13_01['month'] = 1
PBR13_02['month'] = 2
PBR13_03['month'] = 3
PBR13_04['month'] = 4
PBR13_05['month'] = 5
PBR13_06['month'] = 6
PBR13_07['month'] = 7
PBR13_08['month'] = 8
PBR13_09['month'] = 9
PBR13_10['month'] = 10
PBR13_11['month'] = 11
PBR13_12['month'] = 12
PBR14_01['month'] = 1
PBR14_02['month'] = 2
PBR14_03['month'] = 3
PBR14_04['month'] = 4
PBR14_05['month'] = 5
PBR14_06['month'] = 6
PBR14_07['month'] = 7
PBR14_08['month'] = 8
PBR14_09['month'] = 9
PBR14_10['month'] = 10
PBR14_11['month'] = 11
PBR14_12['month'] = 12
PBR15_01['month'] = 1
PBR15_02['month'] = 2
PBR15_03['month'] = 3
PBR15_04['month'] = 4
PBR15_05['month'] = 5
PBR15_06['month'] = 6
PBR15_07['month'] = 7
PBR15_08['month'] = 8
PBR15_09['month'] = 9
PBR15_10['month'] = 10
PBR15_11['month'] = 11
PBR15_12['month'] = 12
PBR16_01['month'] = 1
PBR16_02['month'] = 2
PBR16_03['month'] = 3
PBR16_04['month'] = 4
PBR16_05['month'] = 5
PBR16_06['month'] = 6
PBR16_07['month'] = 7
PBR16_08['month'] = 8
PBR16_09['month'] = 9
PBR16_10['month'] = 10
PBR16_11['month'] = 11
PBR16_12['month'] = 12
PBR17_01['month'] = 1
PBR17_02['month'] = 2
PBR17_03['month'] = 3
PBR17_04['month'] = 4
PBR17_05['month'] = 5
PBR17_06['month'] = 6
PBR17_07['month'] = 7
PBR17_08['month'] = 8
PBR17_09['month'] = 9
PBR17_10['month'] = 10
PBR17_11['month'] = 11
PBR17_12['month'] = 12
PBR18_01['month'] = 1
PBR18_02['month'] = 2
PBR18_03['month'] = 3
PBR18_04['month'] = 4
PBR18_05['month'] = 5
PBR18_06['month'] = 6
PBR18_07['month'] = 7
PBR18_08['month'] = 8
PBR18_09['month'] = 9
PBR18_10['month'] = 10
PBR18_11['month'] = 11
PBR18_12['month'] = 12
PBR19_01['month'] = 1
PBR19_02['month'] = 2
PBR19_03['month'] = 3
PBR19_04['month'] = 4
PBR19_05['month'] = 5
PBR19_06['month'] = 6
PBR19_07['month'] = 7
PBR19_08['month'] = 8
PBR19_09['month'] = 9
PBR19_10['month'] = 10
PBR19_11['month'] = 11
PBR19_12['month'] = 12
PBR20_01['month'] = 1
PBR20_02['month'] = 2
PBR20_03['month'] = 3
PBR20_04['month'] = 4
PBR20_05['month'] = 5
PBR20_06['month'] = 6
PBR20_07['month'] = 7
PBR20_08['month'] = 8
PBR20_09['month'] = 9
PBR20_10['month'] = 10
PBR20_11['month'] = 11
PBR20_12['month'] = 12
PBR21_01['month'] = 1
PBR21_02['month'] = 2
PBR21_03['month'] = 3
PBR21_04['month'] = 4
PBR21_05['month'] = 5
PBR21_06['month'] = 6
PBR21_07['month'] = 7
PBR21_08['month'] = 8
PBR21_09['month'] = 9
PBR21_10['month'] = 10
PBR21_11['month'] = 11
PBR21_12['month'] = 12

In [122]:
PBR12 = pd.concat([PBR12_01,PBR12_02,PBR12_03,PBR12_04,PBR12_05,PBR12_06,PBR12_07,PBR12_08,PBR12_09,PBR12_10,PBR12_11,PBR12_12], join='inner')

In [123]:
PBR12 = pd.concat([PBR12_01,PBR12_02,PBR12_03,PBR12_04,PBR12_05,PBR12_06,PBR12_07,PBR12_08,PBR12_09,PBR12_10,PBR12_11,PBR12_12], join='inner')
PBR13 = pd.concat([PBR13_01,PBR13_02,PBR13_03,PBR13_04,PBR13_05,PBR13_06,PBR13_07,PBR13_08,PBR13_09,PBR13_10,PBR13_11,PBR13_12], join='inner')
PBR14 = pd.concat([PBR14_01,PBR14_02,PBR14_03,PBR14_04,PBR14_05,PBR14_06,PBR14_07,PBR14_08,PBR14_09,PBR14_10,PBR14_11,PBR14_12], join='inner')
PBR15 = pd.concat([PBR15_01,PBR15_02,PBR15_03,PBR15_04,PBR15_05,PBR15_06,PBR15_07,PBR15_08,PBR15_09,PBR15_10,PBR15_11,PBR15_12], join='inner')
PBR16 = pd.concat([PBR16_01,PBR16_02,PBR16_03,PBR16_04,PBR16_05,PBR16_06,PBR16_07,PBR16_08,PBR16_09,PBR16_10,PBR16_11,PBR16_12], join='inner')
PBR17 = pd.concat([PBR17_01,PBR17_02,PBR17_03,PBR17_04,PBR17_05,PBR17_06,PBR17_07,PBR17_08,PBR17_09,PBR17_10,PBR17_11,PBR17_12], join='inner')
PBR18 = pd.concat([PBR18_01,PBR18_02,PBR18_03,PBR18_04,PBR18_05,PBR18_06,PBR18_07,PBR18_08,PBR18_09,PBR18_10,PBR18_11,PBR18_12], join='inner')
PBR19 = pd.concat([PBR19_01,PBR19_02,PBR19_03,PBR19_04,PBR19_05,PBR19_06,PBR19_07,PBR19_08,PBR19_09,PBR19_10,PBR19_11,PBR19_12], join='inner')
PBR20 = pd.concat([PBR20_01,PBR20_02,PBR20_03,PBR20_04,PBR20_05,PBR20_06,PBR20_07,PBR20_08,PBR20_09,PBR20_10,PBR20_11,PBR20_12], join='inner')
PBR21 = pd.concat([PBR21_01,PBR21_02,PBR21_03,PBR21_04,PBR21_05,PBR21_06,PBR21_07,PBR21_08,PBR21_09,PBR21_10,PBR21_11,PBR21_12], join='inner')

In [124]:
PBR = pd.concat([PBR12,PBR13,PBR14,PBR15,PBR16,PBR17,PBR18,PBR19,PBR20,PBR21], join='inner')

In [125]:
PBR = PBR.replace('-',np.nan)

In [126]:
PBR

        종목코드      종목명     PBR  years  month
0     138930   BS금융지주     NaN   2012      1
1     001460      BYC 0.45000   2012      1
2     001465     BYC우     NaN   2012      1
3     001040       CJ 0.69000   2012      1
4     079160   CJ CGV 5.57000   2012      1
...      ...      ...     ...    ...    ...
2425  000547  흥국화재2우B     NaN   2021     12
2426  000545    흥국화재우     NaN   2021     12
2427  003280     흥아해운     NaN   2021     12
2428  037440       희림 1.70000   2021     12
2429  238490       힘스 1.43000   2021     12

[185379 rows x 5 columns]

In [127]:
up_12 = pd.read_csv('./csv/12년코스피업종구분.csv', encoding='CP949')
up_13 = pd.read_csv('./csv/13년코스피업종구분.csv', encoding='CP949')
up_14 = pd.read_csv('./csv/14년코스피업종구분.csv', encoding='CP949')
up_15 = pd.read_csv('./csv/15년코스피업종구분.csv', encoding='CP949')
up_16 = pd.read_csv('./csv/16년코스피업종구분.csv', encoding='CP949')

In [128]:
up_12 = up_12[['종목명','업종명']]
up_13 = up_13[['종목명','업종명']]
up_14 = up_14[['종목명','업종명']]
up_15 = up_15[['종목명','업종명']]
up_16 = up_16[['종목명','업종명']]

In [129]:
upjong

         종목명    업종명
0     AJ네트웍스   서비스업
1      AK홀딩스   기타금융
2        BGF   기타금융
3     BGF리테일    유통업
4    BNK금융지주   기타금융
..       ...    ...
933      휴스틸   철강금속
934     흥국화재     보험
935  흥국화재2우B     보험
936    흥국화재우     보험
937     흥아해운  운수창고업

[938 rows x 2 columns]

In [130]:
upjong = pd.merge(upjong,up_12,on=['종목명','업종명'], how='left')
upjong = pd.merge(upjong,up_13,on=['종목명','업종명'], how='left')
upjong = pd.merge(upjong,up_14,on=['종목명','업종명'], how='left')
upjong = pd.merge(upjong,up_15,on=['종목명','업종명'], how='left')
upjong = pd.merge(upjong,up_16,on=['종목명','업종명'], how='left')

In [131]:
upjong

         종목명    업종명
0     AJ네트웍스   서비스업
1      AK홀딩스   기타금융
2        BGF   기타금융
3     BGF리테일    유통업
4    BNK금융지주   기타금융
..       ...    ...
933      휴스틸   철강금속
934     흥국화재     보험
935  흥국화재2우B     보험
936    흥국화재우     보험
937     흥아해운  운수창고업

[938 rows x 2 columns]

In [132]:
PBR = pd.merge(PBR,upjong, on='종목명', how='inner')

In [133]:
PBR

         종목코드    종목명       PBR  years  month   업종명
0      001460    BYC   0.45000   2012      1  섬유의복
1      001460    BYC   0.50000   2012      2  섬유의복
2      001460    BYC   0.53000   2012      3  섬유의복
3      001460    BYC   0.52000   2012      4  섬유의복
4      001460    BYC   0.47000   2012      5  섬유의복
...       ...    ...       ...    ...    ...   ...
86119  377300  카카오페이 132.93000   2021     11  기타금융
86120  377300  카카오페이 106.40000   2021     12  기타금융
86121  009810  플레이그램   3.37000   2021     11   유통업
86122  009810  플레이그램   3.28000   2021     12   유통업
86123  039570  HDC랩스   1.23000   2021     12   건설업

[86124 rows x 6 columns]

In [134]:
PBR_up = PBR.groupby(['years','month','업종명']).mean()
PBR_up

                            PBR
years month 업종명
2012  1     건설업         0.74895
            기계          1.01800
            기타금융        0.79917
            기타제조업       0.77889
            농업, 임업 및 어업 1.37250
...                         ...
2021  12    종이목재        0.93222
            증권          0.66167
            철강금속        1.01067
            통신업         2.38600
            화학          1.87162

[2760 rows x 1 columns]

In [135]:
PBR_up.columns=['업종월평균PBR']

In [136]:
PBR_up

                         업종월평균PBR
years month 업종명
2012  1     건설업           0.74895
            기계            1.01800
            기타금융          0.79917
            기타제조업         0.77889
            농업, 임업 및 어업   1.37250
...                           ...
2021  12    종이목재          0.93222
            증권            0.66167
            철강금속          1.01067
            통신업           2.38600
            화학            1.87162

[2760 rows x 1 columns]

In [137]:
PBR = PBR.merge(PBR_up,on=['years','month','업종명'], how='inner')

In [138]:
PBR

         종목코드       종목명     PBR  years  month   업종명  업종월평균PBR
0      001460       BYC 0.45000   2012      1  섬유의복   0.66389
1      001465      BYC우     NaN   2012      1  섬유의복   0.66389
2      007700       F&F 0.66000   2012      1  섬유의복   0.66389
3      001070      대한방직 0.29000   2012      1  섬유의복   0.66389
4      016090        대현 0.74000   2012      1  섬유의복   0.66389
...       ...       ...     ...    ...    ...   ...       ...
86119  281820      케이씨텍 1.44000   2021     12  의료정밀   2.64125
86120  145720       덴티움 3.37000   2021     12  의료정밀   2.64125
86121  029460       케이씨 0.52000   2021     12  의료정밀   2.64125
86122  137310  에스디바이오센서 6.97000   2021     12  의료정밀   2.64125
86123  372910   한컴라이프케어 4.62000   2021     12  의료정밀   2.64125

[86124 rows x 7 columns]

In [140]:
idx = PBR[PBR['종목코드'].str[-1]!='0'].index

In [141]:
PBR = PBR.drop(idx)

In [143]:
PBR.reset_index(drop=True,inplace=True)

In [146]:
PBR

         종목코드       종목명     PBR  years  month   업종명  업종월평균PBR
0      001460       BYC 0.45000   2012      1  섬유의복   0.66389
1      007700       F&F 0.66000   2012      1  섬유의복   0.66389
2      001070      대한방직 0.29000   2012      1  섬유의복   0.66389
3      016090        대현 0.74000   2012      1  섬유의복   0.66389
4      003610        방림 0.23000   2012      1  섬유의복   0.66389
...       ...       ...     ...    ...    ...   ...       ...
74506  281820      케이씨텍 1.44000   2021     12  의료정밀   2.64125
74507  145720       덴티움 3.37000   2021     12  의료정밀   2.64125
74508  029460       케이씨 0.52000   2021     12  의료정밀   2.64125
74509  137310  에스디바이오센서 6.97000   2021     12  의료정밀   2.64125
74510  372910   한컴라이프케어 4.62000   2021     12  의료정밀   2.64125

[74511 rows x 7 columns]

In [147]:
PBR['LOW P/B'] = ''
for i in range(len(PBR)):
    if PBR['PBR'][i] < PBR['업종월평균PBR'][i]:
        PBR['LOW P/B'][i] = 'LOW'
    else :
        PBR['LOW P/B'][i] = 'HIGH'

<ipython-input-147-5fecf843fa8b>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PBR['LOW P/B'][i] = 'LOW'
<ipython-input-147-5fecf843fa8b>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  PBR['LOW P/B'][i] = 'HIGH'

In [148]:
PBR

         종목코드       종목명     PBR  years  month   업종명  업종월평균PBR LOW P/B
0      001460       BYC 0.45000   2012      1  섬유의복   0.66389     LOW
1      007700       F&F 0.66000   2012      1  섬유의복   0.66389     LOW
2      001070      대한방직 0.29000   2012      1  섬유의복   0.66389     LOW
3      016090        대현 0.74000   2012      1  섬유의복   0.66389    HIGH
4      003610        방림 0.23000   2012      1  섬유의복   0.66389     LOW
...       ...       ...     ...    ...    ...   ...       ...     ...
74506  281820      케이씨텍 1.44000   2021     12  의료정밀   2.64125     LOW
74507  145720       덴티움 3.37000   2021     12  의료정밀   2.64125    HIGH
74508  029460       케이씨 0.52000   2021     12  의료정밀   2.64125     LOW
74509  137310  에스디바이오센서 6.97000   2021     12  의료정밀   2.64125    HIGH
74510  372910   한컴라이프케어 4.62000   2021     12  의료정밀   2.64125    HIGH

[74511 rows x 8 columns]